<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Alberta Beef Producers - For the more than 18,000 beef cattle producers who are stewards of the industry in this province, one organization represents their collective interests — the Alberta Beef Producers (ABP).</title>

		<link rel="icon" href="https://abpdaily.com/favicon.ico" type="image/x-icon" />
        
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link  rel="stylesheet" href="assets/lib/fontawesome-free-5.15.2-web/css/all.css">

        <script src="assets/js/vue.min.js"></script>
        <script src="assets/js/vue-router.js"></script>
        <script src="assets/js/axios.min.js"></script>
        <script src="assets/js/vue-scrollto.js"></script>
    </head>

    <body>
        <div id="main_app" class="page-wrap">
            <div class="app-top-bar">
                <div class="inside" v-if="currentRouteName === 'category' || currentRouteName === 'single' || currentRouteName === 'news'">
                    <a @click="$router.go(-1)" class="back-btn"><i class="fas fa-chevron-left"></i> BACK</a>
                </div>
            </div>

            <header>
                <router-link class="page-logo" to="/"><img src="assets/img/abp-logo-lg.svg" class="img-fluid" /></router-link>
            </header>

            <div class="app-nav">
                <div class="item">
                    <router-link to="/" v-bind:class="[ currentRouteName === 'home' ? 'active' : '' ]" v-if="currentRouteName != 'home'">
                        <i class="fas fa-home"></i><br />
                        Home
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'home' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-home"></i><br />
                        Home
                    </div>
                </div>
                <div class="item">
                    <router-link to="/cattleReport" v-bind:class="[ currentRouteName === 'cattleReport' ? 'active' : '' ]" v-if="currentRouteName != 'cattleReport'">
                        <i class="fas fa-chart-line"></i><br />
                        Report
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'cattleReport' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-chart-line"></i><br />
                        Report
                    </div>
                </div>
                <div class="item">
                    <router-link to="/events" v-bind:class="[ currentRouteName === 'events' ? 'active' : '' ]" v-if="currentRouteName != 'events'">
                        <i class="fas fa-calendar-alt"></i><br />
                        Events
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'events' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-calendar-alt"></i><br />
                        Events
                    </div>
                </div>
                <div class="item">
                    <router-link to="/delegates" v-bind:class="[ currentRouteName === 'delegates' ? 'active' : '' ]" v-if="currentRouteName != 'delegates'">
                        <i class="fas fa-user"></i><br />
                        Delegates
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'delegates' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-user"></i><br />
                        Delegates
                    </div>
                </div>
            </div>
        
            <div class="theme-content">
                <router-view></router-view>
            </div>
        </div>

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Vue Pages -->
        <script src="pages/home.vue.js"></script>
        <script src="pages/cattleReport.vue.js"></script>
        <script src="pages/news.vue.js"></script>
        <script src="pages/category.vue.js"></script>
        <script src="pages/about.vue.js"></script>
        <script src="pages/events.vue.js"></script>
        <script src="pages/contact.vue.js"></script>
        <script src="pages/staff.vue.js"></script>
        <script src="pages/delegates.vue.js"></script>
        <script src="pages/singlePost.vue.js"></script>
        
        <script src="assets/js/main.js"></script>
    </body>
</html>