<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Alberta Beef Producers - For the more than 18,000 beef cattle producers who are stewards of the industry in this province, one organization represents their collective interests — the Alberta Beef Producers (ABP).</title>

		<link rel="icon" href="https://abpdaily.com/favicon.ico" type="image/x-icon" />
        
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link  rel="stylesheet" href="assets/lib/fontawesome-free-5.15.2-web/css/all.css">

        <script src="assets/js/vue.js"></script>
        <script src="assets/js/vue-router.js"></script>
        <script src="assets/js/axios.min.js"></script>
        <script src="assets/js/vue-scrollto.js"></script>
        <script src="assets/js/vuex.js"></script>
    </head>

    <body>
        <div id="main_app" class="page-wrap">
            <div class="account-top">
                <div class="notify-toggle" @click="toggleNav(2)" v-bind:class="[ this.$store.state.navOpen === 2 ? 'active' : '' ]" v-if="this.$store.state.isLoggedIn"><i class="fas fa-bell"></i></div>
                <div class="notify-menu" v-bind:class="[ this.$store.state.navOpen === 2 ? 'active' : '' ]">
                    <div id="notifyMenuItems" v-if="$store.state.latest_articles.length > 0">
                        <div v-for="(newsPosts, index) in $store.state.latest_articles" class="latest-notify" :class="newsPosts._embedded['wp:term'][0][0].slug">
                            <h2><router-link :to="{ name: 'single', params: { postName: newsPosts.slug }}" v-html="newsPosts.title.rendered"></router-link></h2> 
                            <div class="blog-info">
                                <span class="blog-cats" v-html="newsPosts._embedded['wp:term'][0][0].name"></span>
                                <span class="date-text" v-html="getNotifyDate(newsPosts.formatted_date)"></span>
                            </div>
                        </div>
                        <div class="feed-btn"><a href="#/feed/2">Show More</a></router-link></div>
                    </div>
                    <div v-else>
                        <p class="no-not">No current notifications. Add some <router-link to="/favCategories">favourite categories</router-link> to see when new articles are posted in those sections.</p>
                    </div>
                </div>
                <div class="account-toggle" @click="toggleNav(1)" v-bind:class="[ this.$store.state.navOpen === 1 ? 'active' : '' ]"><i class="fas fa-user-circle"></i></div>
                <div class="account-menu" v-bind:class="[ this.$store.state.navOpen === 1 ? 'active' : '' ]">
                    <ul v-if="this.$store.state.isLoggedIn">
                        <li><router-link to="/profile">Profile</router-link></li>
                        <li><a href="#" @click.prevent="logoutUser()">Logout</a></li>
                    </ul>
                    <ul v-else>
                        <li><router-link to="/login">Login</router-link></li>
                        <li><router-link to="/createAccount">Create Account</router-link></li>
                    </ul>
                </div>
            </div>
            <div class="app-top-bar">
                <div class="inside" v-if="currentRouteName === 'category' || currentRouteName === 'single' || currentRouteName === 'news'">
                    <a @click="$router.go(-1)" class="back-btn"><i class="fas fa-chevron-left"></i> BACK</a>
                </div>
            </div>

            <header>
                <router-link class="page-logo" to="/"><img src="assets/img/abp-logo-lg.svg" class="img-fluid" /></router-link>
            </header>

            <div class="app-nav">
                <div class="item">
                    <router-link to="/" v-bind:class="[ currentRouteName === 'home' ? 'active' : '' ]" v-if="currentRouteName != 'home'">
                        <i class="fas fa-newspaper"></i><br />
                        Latest
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'home' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-newspaper"></i><br />
                        Latest
                    </div>
                </div>
                <div class="item">
                    <router-link to="/cattleReport" v-bind:class="[ currentRouteName === 'cattleReport' ? 'active' : '' ]" v-if="currentRouteName != 'cattleReport'">
                        <i class="fas fa-chart-line"></i><br />
                        Report
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'cattleReport' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-chart-line"></i><br />
                        Report
                    </div>
                </div>
                <div class="item">
                    <router-link to="/events" v-bind:class="[ currentRouteName === 'events' ? 'active' : '' ]" v-if="currentRouteName != 'events'">
                        <i class="fas fa-calendar-alt"></i><br />
                        Events
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'events' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-calendar-alt"></i><br />
                        Events
                    </div>
                </div>
                <div class="item">
                    <router-link to="/delegates" v-bind:class="[ currentRouteName === 'delegates' ? 'active' : '' ]" v-if="currentRouteName != 'delegates'">
                        <i class="fas fa-user"></i><br />
                        Contact
                    </router-link>
                    <div class="toplink" v-bind:class="[ currentRouteName === 'delegates' ? 'active' : '' ]" v-else @click="scrollToTop">
                        <i class="fas fa-user"></i><br />
                        Contact
                    </div>
                </div>
            </div>
        
            <div class="theme-content">
                <router-view></router-view>
            </div>
        </div>

        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- Vue Pages -->
        <script src="pages/home.vue.js"></script>
        <script src="pages/cattleReport.vue.js"></script>
        <script src="pages/news.vue.js"></script>
        <script src="pages/category.vue.js"></script>
        <script src="pages/about.vue.js"></script>
        <script src="pages/events.vue.js"></script>
        <script src="pages/contact.vue.js"></script>
        <script src="pages/staff.vue.js"></script>
        <script src="pages/delegates.vue.js"></script>
        <script src="pages/singlePost.vue.js"></script>
        <script src="pages/author.vue.js"></script>
        <script src="pages/login.vue.js"></script>
        <script src="pages/createAccount.vue.js"></script>
        <script src="pages/profile.vue.js"></script>
        <script src="pages/updateAccount.vue.js"></script>
        <script src="pages/updatePassword.vue.js"></script>
        <script src="pages/favCategories.vue.js"></script>
        <script src="pages/favPosts.vue.js"></script>
        <script src="pages/feed.vue.js"></script>
        <script src="pages/userComments.vue.js"></script>
        
        <script src="assets/js/main.js"></script>
    </body>
</html>