//Company Colors
$black: #231f20;
$red: #7a1600;

$secondary-red: #9c1500;
$blue: #2d637f;
$brown: #7d5a41;
$green: #65714b;
$yellow: #d99f61;
$new-yellow: #ffb548;
$grey: #636466;
$offwhite: #f1f1f1;

$copy-color: $black;
$heading-color: $black;
$link-color: $black;

$brand-main: $red;

$footer-bg:  $black;
$footer-bar-bg: $grey;