/* Styles for AFARA */
/* Dependencies */
/* ------------------------ Sass Variables ------------------------ */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* ------------------------ Headings ------------------------ */
.h1, h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: Verdana, Geneva, sans-serif;
  color: #231f20;
  line-height: 1.4;
  margin: 30px 0; }

.h2, h2 {
  font-size: 35px;
  font-weight: 700;
  font-family: Verdana, Geneva, sans-serif;
  color: #231f20;
  line-height: 1.4;
  margin: 25px 0; }

.h3, h3 {
  font-size: 25px;
  font-weight: 700;
  font-family: Verdana, Geneva, sans-serif;
  color: #231f20;
  line-height: 1.4;
  margin: 20px 0; }

.h4, h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, sans-serif;
  color: #231f20;
  line-height: 1.4;
  margin: 10px 0; }

/* ------------------------ Copy ------------------------ */
p {
  font-size: 16px;
  font-weight: 400;
  color: #231f20;
  line-height: 1.4; }

li, ol {
  font-size: 16px;
  font-weight: 400;
  color: #231f20;
  line-height: 1.4; }

a {
  color: #231f20; }
  a:hover {
    color: #231f20;
    text-decoration: underline; }

/* ------------------------ Responsive Player Embeds ------------------------ */
.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin: 0 auto; }
  .video iframe, .video video {
    position: absolute;
    width: 100%;
    height: 100%; }

.btn {
  border-radius: 0px;
  background: #7a1600;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 12px 35px;
  border: 0;
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 1.45px; }
  .btn:hover {
    background: #231f20;
    color: #ffffff; }

/* ------------------------ Forms ------------------------ */
input, textarea {
  outline: none; }

.sub-form form {
  padding-top: 15px; }
.sub-form .thanks-area {
  color: #7a1600;
  text-align: center; }
.sub-form h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.0010872px;
  color: #7a1600;
  text-transform: uppercase; }
.sub-form .form-group {
  margin-bottom: 5px; }
.sub-form .form-control {
  border: 0;
  border-bottom: solid 1px #d0ced4;
  border-radius: 0;
  background: #ffffff;
  color: #000000;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 15px; }
  .sub-form .form-control:focus {
    box-shadow: none; }
.sub-form .ajax-loader {
  position: absolute !important;
  left: 50%; }
.sub-form textarea.form-control {
  border: 1px solid #d0ced4;
  padding: 8px; }
.sub-form label {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.8580748px;
  text-transform: uppercase; }
.sub-form .button-area {
  text-align: right;
  margin-top: 10px; }
.sub-form .btn:hover {
  background: #470d00;
  color: #ffffff;
  text-decoration: none; }
.sub-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase; }
.sub-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase; }
.sub-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase; }
.sub-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase; }
.sub-form .disclaimer {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.144px;
  margin: 40px 0; }
  .sub-form .disclaimer li {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.144px; }

.booking-form .button-area {
  text-align: center;
  margin-top: 30px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.hide-start {
  opacity: 0; }

.animate-fade {
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.125s; }

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translate(-2rem, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
.hide-start-left {
  opacity: 0; }

.animate-fade-left {
  animation-name: fadeleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.125s; }
  .animate-fade-left.delay-fade-1 {
    animation-delay: 0.25s; }
  .animate-fade-left.delay-fade-2 {
    animation-delay: 0.375s; }
  .animate-fade-left.delay-fade-3 {
    animation-delay: 0.5s; }
  .animate-fade-left.delay-fade-4 {
    animation-delay: 0.625s; }

@keyframes faderight {
  0% {
    opacity: 0;
    transform: translate(2rem, 0); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
.hide-start-right {
  opacity: 0; }

.animate-fade-right {
  animation-name: faderight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.125s; }
  .animate-fade-right.delay-fade-1 {
    animation-delay: 0.25s; }
  .animate-fade-right.delay-fade-2 {
    animation-delay: 0.375s; }
  .animate-fade-right.delay-fade-3 {
    animation-delay: 0.5s; }
  .animate-fade-right.delay-fade-4 {
    animation-delay: 0.625s; }

.ad-place {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #8793a5;
  background: #c1c7d1;
  color: #8793a5;
  padding: 30px;
  text-transform: uppercase; }

/* Comments on Wordpress */
.comment-respond {
  margin-bottom: 40px;
  padding: 30px 30px 15px 30px;
  background: #f9f9f9; }
  .comment-respond .logged-in-as a {
    color: #7a1600;
    font-size: 12px; }
  .comment-respond h3 {
    margin: 0 0 10px 0; }
  .comment-respond .comment-form-comment label, .comment-respond .comment-form-author label, .comment-respond .comment-form-email label, .comment-respond .comment-form-url label {
    display: block;
    font-size: 14px; }
  .comment-respond .comment-form-comment textarea, .comment-respond .comment-form-comment input[type=text], .comment-respond .comment-form-author textarea, .comment-respond .comment-form-author input[type=text], .comment-respond .comment-form-email textarea, .comment-respond .comment-form-email input[type=text], .comment-respond .comment-form-url textarea, .comment-respond .comment-form-url input[type=text] {
    width: 100%; }
  .comment-respond .form-submit .submit {
    border-radius: 0px;
    background: #7a1600;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: 12px 35px;
    border: 0;
    transition: all 0.5s;
    text-transform: uppercase;
    letter-spacing: 1.45px; }
    .comment-respond .form-submit .submit:hover {
      background: #231f20;
      color: #ffffff;
      text-decoration: none; }

.comment {
  padding: 15px; }
  .comment .comment-author {
    color: #7a1600;
    font-size: 15px;
    font-weight: bold; }
    .comment .comment-author a {
      color: #7a1600;
      font-weight: bold;
      font-size: 15px; }
  .comment .comment-meta {
    font-size: 11px;
    text-align: right;
    border-bottom: 2px solid #a69b9e;
    margin-bottom: 20px; }
  .comment .reply a {
    color: #7a1600;
    font-weight: bold; }

.searchform div {
  border: 1px solid #231f20;
  background: #ffffff; }
  .searchform div input[type=text] {
    border: 0;
    width: calc(100% - 140px);
    padding: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2; }
  .searchform div #searchsubmit {
    border-radius: 0px;
    background: #7a1600;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: 12px 0;
    border: 0;
    transition: all 0.5s;
    text-transform: uppercase;
    letter-spacing: 1.45px;
    width: 110px;
    display: inline;
    float: right; }
    .searchform div #searchsubmit:hover {
      background: #231f20;
      color: #ffffff;
      text-decoration: none; }

.contentLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75; }

.loading-text {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #7a1600; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #7a1600;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Sections */
#main_app {
  position: relative;
  margin: 0 auto;
  padding-bottom: 70px; }

header .app-top-bar {
  padding-top: constant(safe-area-inset-top);
  /* iOS 11.0 */
  padding-top: env(safe-area-inset-top);
  /* iOS 11.2 */ }

header {
  position: relative;
  background: #ffffff;
  text-align: center;
  padding-top: 40px; }
  header .page-logo img {
    max-height: 35px;
    margin: 40px 0; }

.app-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 41px;
  background: #ffffff;
  z-index: 1; }
  .app-top-bar .inside {
    padding: 8px 15px;
    border-bottom: 1px solid #d9d9d9;
    text-align: left; }
    .app-top-bar .inside a {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px; }
      .app-top-bar .inside a i {
        font-size: 15px;
        position: relative;
        top: 1px; }

.navbtn {
  width: 40px;
  height: 25px;
  position: fixed;
  top: 35px;
  right: 25px;
  margin: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1001; }
  .navbtn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #7a1600;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

.navbtn.open span {
  background: #7a1600; }

.navbtn span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.navbtn span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.navbtn span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.navbtn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0px; }

.navbtn.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.navbtn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 0px; }

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: all 0.65s ease;
  z-index: 1000;
  display: flex; }
  .mobile-nav.open {
    right: 0; }
  .mobile-nav .inside {
    padding: 100px 30px; }
    .mobile-nav .inside ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .mobile-nav .inside .sub-nav {
      padding: 0 15px;
      display: none; }
      .mobile-nav .inside .sub-nav.open {
        display: block; }
  .mobile-nav .nav-link {
    padding: 3px 0;
    font-size: 18px; }
    .mobile-nav .nav-link.active {
      color: #7a1600; }
  .mobile-nav .dd-parent:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent; }
  .mobile-nav .social-media {
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase; }
    .mobile-nav .social-media .social-icons {
      padding-top: 5px; }
      .mobile-nav .social-media .social-icons a {
        font-size: 25px;
        color: #7a1600;
        margin-right: 12px; }

.app-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #ffffff;
  border-top: 1px solid #bab9b9;
  display: flex;
  padding: 10px 0;
  box-shadow: 0px 0 5px rgba(88, 88, 88, 0.7); }
  .app-nav .item {
    flex: 0 0 25%;
    max-width: 25%;
    border-right: 1px solid #dcdcdc;
    text-align: center; }
    .app-nav .item:last-child {
      border-right: 0; }
    .app-nav .item a, .app-nav .item .toplink {
      font-size: 11px;
      padding: 5px;
      display: block;
      width: 100%; }
      .app-nav .item a:hover, .app-nav .item .toplink:hover {
        text-decoration: none; }
      .app-nav .item a.active, .app-nav .item .toplink.active {
        color: #7a1600; }
      .app-nav .item a i, .app-nav .item .toplink i {
        font-size: 24px; }

footer {
  padding: 40px 0 0 0;
  background: #231f20;
  color: #ffffff; }
  footer h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.192px;
    color: #ffffff;
    margin: 0 0 20px 0; }
  footer h4 {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.192px;
    color: #ffffff;
    margin: 30px 0 10px 0;
    padding: 0; }
  footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.168px;
    color: #f1f1f1; }
  footer .main-nav {
    list-style: none;
    padding: 20px 0 0; }
    footer .main-nav li {
      padding: 0;
      margin: 7px 0; }
    footer .main-nav .dd-parent {
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      color: #f1f1f1;
      text-transform: uppercase; }
    footer .main-nav a.nav-link {
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      color: #f1f1f1;
      text-transform: uppercase;
      padding: 0; }
      footer .main-nav a.nav-link:hover {
        color: #7a1600; }
  footer .social-icons a {
    margin-right: 6px;
    font-size: 20px;
    color: #f1f1f1; }
  footer strong img {
    margin-left: 6px; }
  footer .bottom-bar {
    background: #636466;
    color: #ffffff;
    padding: 10px 0;
    margin-top: 40px;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.168px;
    font-weight: 700; }

.form-errors {
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #7a1600;
  color: #7a1600;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  background: #ffffff; }

/* Pages */
.theme-content {
  margin: 15px 0; }

.featured-cta, .bottom-cta {
  padding: 30px 0; }

.blog-post {
  padding: 50px 0;
  border-bottom: 3px solid #636466; }
  .blog-post h2, .blog-post h2 a {
    font-size: 30px;
    line-height: 1.2;
    margin: 15px 0;
    color: #231f20;
    position: relative;
    padding: 20px 0 0 0; }
    .blog-post h2:hover, .blog-post h2 a:hover {
      color: #7a1600;
      text-decoration: none; }
    .blog-post h2:before, .blog-post h2 a:before {
      position: absolute;
      content: "";
      width: 90px;
      height: 8px;
      top: 0;
      left: 0;
      background: #65714b; }
  .blog-post .blog-info {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 8px 0;
    letter-spacing: 1px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    .blog-post .blog-info .date-text {
      color: #7a1600;
      display: block; }
    .blog-post .blog-info .blog-cats {
      color: #7d5a41;
      display: block; }
  .blog-post .blog-feat-img {
    border-bottom: 6px solid #231f20;
    position: relative;
    margin-bottom: 50px; }
    .blog-post .blog-feat-img a {
      display: block;
      margin-bottom: -1px; }
    .blog-post .blog-feat-img:after {
      position: absolute;
      bottom: -34px;
      right: 0;
      height: 28px;
      width: 284px;
      background: #65714b;
      content: ""; }
  .blog-post.innovation-technology h2:before, .blog-post.innovation-technology h2 a:before {
    background: #2d637f; }
  .blog-post.innovation-technology .blog-feat-img:after {
    background: #2d637f; }
  .blog-post.innovation-technology .blog-info .blog-cats {
    color: #2d637f; }
  .blog-post.business-tools h2:before, .blog-post.business-tools h2 a:before {
    background: #7d5a41; }
  .blog-post.business-tools .blog-feat-img:after {
    background: #7d5a41; }
  .blog-post.business-tools .blog-info .blog-cats {
    color: #7d5a41; }
  .blog-post.current-markets-forecasts h2:before, .blog-post.current-markets-forecasts h2 a:before {
    background: #d99f61; }
  .blog-post.current-markets-forecasts .blog-feat-img:after {
    background: #d99f61; }
  .blog-post.current-markets-forecasts .blog-info .blog-cats {
    color: #d99f61; }
  .blog-post.inspiration h2:before, .blog-post.inspiration h2 a:before {
    background: #ffb548; }
  .blog-post.inspiration .blog-feat-img:after {
    background: #ffb548; }
  .blog-post.inspiration .blog-info .blog-cats {
    color: #ffb548; }
  .blog-post.issues-insights-influence h2:before, .blog-post.issues-insights-influence h2 a:before {
    background: #636466; }
  .blog-post.issues-insights-influence .blog-feat-img:after {
    background: #636466; }
  .blog-post.issues-insights-influence .blog-info .blog-cats {
    color: #636466; }
  .blog-post.trail-blazers h2:before, .blog-post.trail-blazers h2 a:before {
    background: #65714b; }
  .blog-post.trail-blazers .blog-feat-img:after {
    background: #65714b; }
  .blog-post.trail-blazers .blog-info .blog-cats {
    color: #65714b; }
  .blog-post.weather h2:before, .blog-post.weather h2 a:before {
    background: #9c1500; }
  .blog-post.weather .blog-feat-img:after {
    background: #9c1500; }
  .blog-post.weather .blog-info .blog-cats {
    color: #9c1500; }

.latest-posts .blog-post:last-child {
  border-bottom: 0; }

.latest-posts h1 {
  text-align: center; }

.all-posts-btn a.btn {
  display: block;
  text-align: center; }

.report-home {
  padding: 15px;
  background: #f7f7f7;
  border: 1px solid #d5d5d5;
  border-radius: 4px; }
  .report-home h3 {
    margin: 0 0 1px 0;
    font-size: 18px; }
  .report-home .updated {
    font-size: 13px;
    font-style: italic;
    color: #969799;
    margin-bottom: 10px; }
  .report-home h4 {
    font-size: 15px;
    margin: 0 0 5px 0;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #636466; }
  .report-home p {
    line-height: 1.4;
    font-size: 13px; }
  .report-home .report-row {
    display: flex;
    flex-wrap: wrap; }
    .report-home .report-row .report-col {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 10px; }
      .report-home .report-row .report-col.full {
        flex: 0 0 100%;
        max-width: 100%; }
      .report-home .report-row .report-col:first-child {
        padding-left: 0; }
      .report-home .report-row .report-col:last-child {
        padding-right: 0; }
  .report-home .report-more {
    padding-top: 20px;
    text-align: center; }

.pagination {
  width: 100%;
  text-align: center;
  line-height: 40px;
  position: relative; }
  .pagination .pg-count {
    position: realtive;
    width: 100%;
    text-align: center; }
  .pagination .btn {
    position: absolute;
    top: 0; }
    .pagination .btn.btn-prev {
      left: 0; }
    .pagination .btn.btn-next {
      right: 0; }

.read-more-btn {
  padding: 20px 0; }
  .read-more-btn a {
    border-radius: 0px;
    background: #7a1600;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: 12px 35px;
    border: 0;
    transition: all 0.5s;
    text-transform: uppercase;
    letter-spacing: 1.45px; }
    .read-more-btn a:hover {
      background: #231f20;
      color: #ffffff;
      text-decoration: none; }

.page-feat-img {
  border-bottom: 6px solid #231f20;
  position: relative;
  margin-bottom: 50px; }
  .page-feat-img img {
    margin-bottom: -1px; }
  .page-feat-img:after {
    position: absolute;
    bottom: -34px;
    right: 0;
    height: 28px;
    width: 284px;
    background: #7a1600;
    content: ""; }

.delegates h2 {
  font-size: 35px;
  line-height: 1.2;
  margin: 50px 0 15px 0;
  padding: 30px 0 0 0;
  position: relative; }
  .delegates h2:before {
    position: absolute;
    content: "";
    width: 152px;
    height: 15px;
    top: 0;
    left: 0;
    background: #2d637f; }
.delegates .zone-desc {
  font-size: 13px;
  padding: 20px;
  border: 1px solid #f1f1f1;
  background: #f9f9f9;
  margin: 30px 0 50px 0; }
  .delegates .zone-desc ol {
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: lower-alpha; }
    .delegates .zone-desc ol li {
      font-size: 13px; }
  .delegates .zone-desc p {
    font-size: 13px;
    text-align: center; }
.delegates .del-info {
  margin: 20px 0; }
  .delegates .del-info h3 {
    margin: 10px 0 5px 0;
    font-size: 20px;
    line-height: 1.2; }
  .delegates .del-info .del-con {
    color: #636466;
    font-size: 13px;
    display: inline-block;
    padding-right: 20px; }
    .delegates .del-info .del-con a {
      color: #636466; }
      .delegates .del-info .del-con a:hover {
        color: #7a1600;
        text-decoration: none; }
  .delegates .del-info .del-bio {
    border-top: 1px solid #636466;
    padding: 20px 0;
    margin-top: 5px; }
.delegates .zone.southeast h2:before {
  background: #2d637f; }
.delegates .zone.southeast i {
  color: #2d637f; }
.delegates .zone.southwest h2:before {
  background: #65714b; }
.delegates .zone.southwest i {
  color: #65714b; }
.delegates .zone.central h2:before {
  background: #9c1500; }
.delegates .zone.central i {
  color: #9c1500; }
.delegates .zone.northeast h2:before {
  background: #7d5a41; }
.delegates .zone.northeast i {
  color: #7d5a41; }
.delegates .zone.northwest h2:before {
  background: #d99f61; }
.delegates .zone.northwest i {
  color: #d99f61; }

.abp-events .event-box {
  padding-bottom: 10px; }
  .abp-events .event-box h4 {
    font-size: 14px;
    line-height: 1.2;
    margin: 20px 0 5px 0;
    color: #7a1600;
    font-weight: 400; }
    .abp-events .event-box h4 span {
      color: #636466; }
  .abp-events .event-box h3 {
    font-size: 18px;
    line-height: 1.3;
    margin: 10px 0;
    padding: 10px 0 0 0;
    font-weight: 700;
    color: #231f20;
    position: relative; }
    .abp-events .event-box h3:before {
      position: absolute;
      content: "";
      width: 75px;
      height: 5px;
      top: 0;
      left: 0;
      background: #65714b; }
  .abp-events .event-box .event-link {
    color: #7a1600;
    font-weight: bold; }

.producer-ads {
  padding-bottom: 60px; }
  .producer-ads .row {
    justify-content: center; }
  .producer-ads .col-lg-4 a {
    display: block;
    margin: 0 0 15px 0; }

.page-hero .hero-img {
  width: 100%;
  height: auto; }
.page-hero h1 {
  margin: 30px 0 10px 0; }
.page-hero h4 {
  color: #7c7d80;
  font-weight: 500;
  margin-bottom: 40px; }

.audio-updates audio {
  width: 100%; }
.audio-updates p {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-style: italic; }

.table td, .table th {
  padding: 0.45rem;
  font-size: 13px; }

.cattle-report-wrap h2 {
  font-size: 30px;
  margin: 35px 0 10px 0; }
.cattle-report-wrap p {
  font-size: 13px;
  line-height: 1.4; }

.blog-post-single {
  padding: 0; }
  .blog-post-single h2 {
    font-size: 30px;
    line-height: 1.2;
    margin: 15px 0;
    color: #231f20;
    position: relative;
    padding: 20px 0 0 0; }
    .blog-post-single h2:before {
      position: absolute;
      content: "";
      width: 152px;
      height: 15px;
      top: 0;
      left: 0;
      background: #65714b; }
  .blog-post-single .blog-info {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
    margin: 20px 0 15px 0;
    letter-spacing: 1px; }
    .blog-post-single .blog-info .date-text {
      padding-right: 30px;
      font-weight: 700;
      color: #7a1600; }
    .blog-post-single .blog-info .blog-cats {
      font-weight: 600;
      color: #636466; }
  .blog-post-single blockquote p {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500; }
  .blog-post-single .wp-block-image figcaption {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic; }
  .blog-post-single .wp-block-image img {
    max-width: 100%;
    height: auto; }
  .blog-post-single .blog-feat-img {
    border-bottom: 6px solid #231f20;
    position: relative;
    margin-bottom: 50px; }
    .blog-post-single .blog-feat-img:after {
      position: absolute;
      bottom: -34px;
      right: 0;
      height: 28px;
      width: 284px;
      background: #65714b;
      content: ""; }
  .blog-post-single.innovation-technology h2:before, .blog-post-single.innovation-technology h2 a:before {
    background: #2d637f; }
  .blog-post-single.innovation-technology .blog-feat-img:after {
    background: #2d637f; }
  .blog-post-single.innovation-technology .blog-info .blog-cats {
    color: #2d637f; }
  .blog-post-single.business-tools h2:before, .blog-post-single.business-tools h2 a:before {
    background: #7d5a41; }
  .blog-post-single.business-tools .blog-feat-img:after {
    background: #7d5a41; }
  .blog-post-single.business-tools .blog-info .blog-cats {
    color: #7d5a41; }
  .blog-post-single.current-markets-forecasts h2:before, .blog-post-single.current-markets-forecasts h2 a:before {
    background: #d99f61; }
  .blog-post-single.current-markets-forecasts .blog-feat-img:after {
    background: #d99f61; }
  .blog-post-single.current-markets-forecasts .blog-info .blog-cats {
    color: #d99f61; }
  .blog-post-single.inspiration h2:before, .blog-post-single.inspiration h2 a:before {
    background: #ffb548; }
  .blog-post-single.inspiration .blog-feat-img:after {
    background: #ffb548; }
  .blog-post-single.inspiration .blog-info .blog-cats {
    color: #ffb548; }
  .blog-post-single.issues-insights-influence h2:before, .blog-post-single.issues-insights-influence h2 a:before {
    background: #636466; }
  .blog-post-single.issues-insights-influence .blog-feat-img:after {
    background: #636466; }
  .blog-post-single.issues-insights-influence .blog-info .blog-cats {
    color: #636466; }
  .blog-post-single.trail-blazers h2:before, .blog-post-single.trail-blazers h2 a:before {
    background: #65714b; }
  .blog-post-single.trail-blazers .blog-feat-img:after {
    background: #65714b; }
  .blog-post-single.trail-blazers .blog-info .blog-cats {
    color: #65714b; }

/* --------------------------------------------------------------------------
Media Queries.
-------------------------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */
